<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><h1>HE MAN</h1>
    <p>Cuando sostiene la Espada Mágica del Poder y pronuncia las palabras "por el poder de Grayskull", el príncipe Adam se transforma en He-Man, el gran defensor de Eternia, quien utiliza sus poderes para defender el reino de la maldad de Skeletor.</p>
    <img src="/img/He-Man.jpg" alt="">
</body>
</html>